<section class="frontpage-about">
  <h2>Об издании</h2>

  <p>
    На страницах журнала «Председатель ТСЖ» за истекшие годы собран опыт
    около 1500 ТСЖ(ТСН), ЖСК России. В каждом из вышедших в свет 149 выпусков
    не менее 3-х председателей или управляющих ТСЖ (ТСН), ЖСК предлагают
    свои «рецепты» создания благоприятной «погоды в доме».
  </p>

  <%=
    render(
      partial: 'index/index/carousel',
      locals: { items: %w[1 2 3 4 5 6 7 8 9 10] }
    )
  %>

  <p>
    История создания и становления журнала «Председатель ТСЖ» изложена
    в юбилейном сотом выпуске журнала статье «Вместе мы – сила».
  </p>

  <figure>
    <figcaption>Девиз журнала «Председатель ТСЖ»:</figcaption>
    <blockquote>
      <p>
        «Долог путь наставлений. Краток и убедителен путь примеров». (Сенека).
      </p>
    </blockquote>
  </figure>
</section>
