<section class="frontpage-authors">
  <h2>Наши авторы</h2>
  <p>Почти все наши авторы являются постоянными  подписчиками журнала.</p>
  <p><strong>Фактически — это сообщество единоМЫшленников.</strong></p>
  <p>
    В отличие от руководителей коммерческих управляющих компаний, председатели,
    управляющие ТСЖ/ЖСК не являются конкурентами друг другу. Поэтому обмен
    опытом является основным контентом в журнале.
  </p>

  <%=
    render(
      partial: 'index/index/carousel',
      locals: { items: %w[11 12 13 14 15 16 17 18 19 20] }
    )
  %>
</section>
