<header class="frontpage-header">
  <h1>Подписка на журнал «Председатель ТСЖ» на 2022 год</h1>
  <h2>Присоединяйтесь к сообществу лидеров жилищного самоуправления!</h2>

  <p class="lead">
    Журнал «Председатель ТСЖ» издается с августа 2007 года. Издание является
    постоянной площадкой для обмена опытом между председателями ТСЖ/ЖСК России.
  </p>

  <figure>
    <figcaption>Кредо редакции журнала «Председатель ТСЖ»:</figcaption>
    <blockquote>
      <p>Мы искренне верим, что председатели ТСЖ/ЖСК:</p>
      <ul>
        <li>избранные на демократической основе;</li>
        <li>прошедшие школу самоуправления;</li>
        <li>постоянно повышающие свой общеобразовательный уровень</li>
      </ul>
      <p> — это завтрашние мэры, губернаторы, президенты.</p>
    </blockquote>
  </figure>

  <%= render 'index/index/cta_nav' %>
</header>
