<section class="frontpage-pricing">
  <h2>Стоимость подписки на 2022 (за 10 выпусков)</h2>

  <p>
    При подписке на печатную версию журнала - простая бандероль с очередным
    выпуском будет доставлена на почтовый адрес, указанный в платежном
    документе.
  </p>
  <p>
    При подписке на электронную версию журнала – ссылка для скачивания
    электронной версии (в PDF-файле) будет рассылаться на e-mail, указанный
    в платежном документе.
  </p>

  <%
    items = [
      ['Печатная версия', 'print.jpg', '5000', 'Печатная версия журнала доставляется бандеролью на указаный адрес. 10 выпусков - 5000 руб.'],
      ['Электронная версия', 'pdfonly.jpg', '3700', 'Вы получаете сссылку на скачиавние PDF файла свежего номера журнала. 10 выпусков - 3700 руб.'],
      ['Печатная и электронная версия', 'printandpdf.jpg', '6500', 'Доставляется почтой на указаный адрес, PDF версия отправляется на адрес электронной почты. 10 выпусков - 6500 руб.'],
    ]
  %>
  <ul>
    <% items.each do |item| %>
      <li>
        <figure>
          <div class="image">
            <%= image_tag(item[1], alt: '') %>
          </div>
          <figcaption>
            <div class="type"><%= item[0] %></div>
            <div class="price"><%= item[2] %>₽</div>
          </figcaption>
        </figure>
        <p><%= item[3] %></p>
      </li>
    <% end %>
  </ul>
</section>
