<section class="frontpage-recent">
  <h2>В свежем выпуске:</h2>

  <div class="wrapper">
    <figure>
      <div class="image">
        <%= image_tag('covers/fresh9.jpg', alt: 'Обложка') %>
      </div>
    </figure>

    <section class="text">
      <p>
        На обложке свежего выпуска журнала «Председатель ТСЖ» №6(160)2021 —
        Андрей ФРОЛОВ, председатель правления ТСЖ «Ставрово 13» и председатель
        общественной организации «Союз ТСЖ и ТСН» (Владимирская область).
        Он делится опытом создания «Союза ТСЖ и ТСН» в поселке Ставрово
        и участия в муниципальных выборах всей его команды.
      </p>
      
      <h3>
        В выпуске №6(160)2021 председатели жилищных объединений поделились своим
        опытом:
      </h3>
      <ul>
        <li>Взаимодействия с региональным оператором по вывозу ТКО;</li>
        <li>
          Результатами обследования своего МКД на предмет экологической
          безопасности;
        </li>
        <li>
          Историями создания и развития Ассоциации/Союза ТСЖ в двух разных
          регионах РФ
        </li>
        <li>Проведения Дня соседей;</li>
        <li>Использования программы начисления коммунальных платежей;</li>
      </ul>

      <h3>Из данного выпуска подписчик почерпнет актуальную информацию о:</h3>
      <ul>
        <li>Риске банкротства ТСЖ/ТСН/ЖСК для председателя правления ЛИЧНО;</li>
        <li>
          Особенностях бухгалтерского учета средств на спецсчете на капремонт;
        </li>
        <li>
          О возможности взыскания ранее выплаченных средств на содержание
          земельного участка в случае его формирования по подошве фундамента;
        </li>
      </ul>

      <h4>Также в номере:</h4>
      <ul>
        <li>
          На вопросы подписчиков отвечает руководитель юридической компании,
          специализирующийся на правовом сопровождении ТСЖ/ТСН.
        </li>
        <li>Пошаговая инструкция по установке шлагбумов.</li>
        <li>Инфографика по проведению общих собраний в ГИС ЖКХ.</li>
      </ul>

      <nav>
        <%=
          link_to(
            'Полное содержание выпуска',
            'https://www.pr-tsj.ru',
            class: 'button button-primary',
            target: '_blank',
            rel: 'external noreferrer'
          )
        %>
      </nav>
    </section>
  </div>
</section>
