<%
  items = [
    ['Актуально', 'Новое в законодательстве. Наиболее важные события в сфере ЖКХ, затрагивающие деятельность ТСЖ/ЖСК. Проблемы, требующие коллективных действий.'],
    ['Капремонт', 'Рекомендации специалистов. Опыт проведения капремонта в ТСЖ/ЖСК. Использование спецсчета на капремонт.  Вопрос-ответ.'],
    ['ТСЖизнь', 'Опыт создания и становления жилищных объединений.  Будни и праздники в ТСЖ/ЖСК. Деятельность Ассоциаций ТСЖ/ЖСК. Добрососедство.'],
    ['Правоприменительная практика', 'Взаимодействие руководителей ТСЖ/ЖСК с надзорными органами. Подборка определений (решений) Верховного суда  РФ, актуальных для жилищных объединений.'],
    ['Техника и технологии', 'Технологии для обслуживания и ремонта инженерных систем. Инновационные разработки. Энергосбережение в МКД. Социальные технологии.'],
    ['Бухгалтеру на заметку', 'Особенности бухгалтерского учета и налогообложения в ТСЖ/ЖСК. Ответы на вопросы подписчиков журнала. Рекомендации по применению УСН.'],
  ]
%>
<section class="frontpage-sections">
  <h2>Основные рубрики</h2>

  <dl>
    <% items.each do |item| %>
      <div>
        <dt><%= item[0] %></dt>
        <dd><%= item[1] %></dd>
      </div>
    <% end %>
  </dl>
</section>
