<section class="frontpage-subscribe" id="frontpage-subscribe">
  <h2>Готовы подписаться?</h2>

  <table>
    <caption>Реквизиты ООО РИД "КАЧУМ-ПРЕСС"</caption>
    <tbody>
      <tr><th>ИНН</th><td>7715564294</td></tr>
      <tr><th>КПП</th><td>771501001</td></tr>
      <tr><th>ОГРН</th><td>1057747078740</td></tr>
      <tr><th>Банк</th><td>Московский филиал ПАО "РОСБАНК"</td></tr>
      <tr><th>БИК</th><td>044525256</td></tr>
      <tr><th>р/с</th><td>40702 810 9 8712 0001472</td></tr>
      <tr><th>к/с</th><td>30101 810 0 0000 0000256</td></tr>
    </tbody>
  </table>

  <p>Возможность оплаты онлайн будет реализована позже.</p>
  <p>
    Вы можете обратиться в редакцию, по телефону
    <%= phone_link('+7 (926) 925-75-25') %> или электронной почте
    <%= email_link('eluas@yandex.ru') %>, если у вас есть вопросы или вы хотите
    ознакомиться с примером электронной версии.
  </p>
</section>
